.vscode
.chainlit
__pycache__
data
.env
.env.production
meta-output
test
package-lock.json
web/yarn.lock
web/build_log.txt
web/node_modules
web/.next
backend/venv
backend/data
backend/static/audio
nginx/logs
nginx/ssl