.vscode
.chainlit
__pycache__
data
.env
.env.production
meta-output
test
package-lock.json
web/yarn.lock
web/build_log.txt
backend/venv/
cloudflared.exe
nginx/logs/
_backup_web
*.pyc
*.bak
*.egg-info/
node_modules/
.next/